
.parent{
}

.source, #target{
    float:left;
    min-height: 400px;
    border:1px solid;
}

.source {
    width : 60%;
    margin : 0 10px;
}
#target{
    width:30%;
    margin: 0 10px;
}
.item {
    width:50%;
    background:skyblue;
    height:40px;
    margin: 5px;
    border: 1px skyblue solid;
    border-radius: 3px;
    text-align: center;
}
.group:after {
    content: "";
    display: table;
    clear: both;
}
